
*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  color: #222;
}

.navbar {
  max-width: 1000px;
  margin: auto;
  padding: 25px 20px;
  display: flex;
  align-items: center;
  justify-content:space-between;
}
.logo {
  font-size: 22px;
  font-weight: 700;
}
.btn-primary{
    background: #ff7a3d;
    color:white;
    padding:12px 22px;
    border-radius:10px;
    border:none;
    font-weight: 500;
}
.nav-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}
.login {
  text-decoration: none;
  color: #ff7a3d;
  font-weight: 500;
}
.navbar nav a {
  margin: 0 15px;
  text-decoration:none;
  color: #333;
  font-weight: 500;
}

.btn-outline {
  background:transparent;
  border: 2px solid #ff7a3d;
  color: #ff7a3d;
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: 500;
  cursor:pointer;
}

.content {
  max-width: 1150px;
  margin: auto;
  padding: 30px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.contentLt{
    flex: 1;
}
.contentLt h1 {
  font-size: 52px;
  line-height: 1;
  margin-bottom: 25px;
}
.contentLt h1 span {
  color:#ff7a3d
}
.contentLt p {
  color: #666;
  margin-bottom: 35px;
  max-width: 480px;
line-height: 2;
}
.contentRt {
  flex: 1;
  position: relative;
}
.content-image{
    background:#ff7a3d;
    height:400px;
    width:400px;
    border-radius: 50%;
    padding: 40px;
    display: flex;
  align-items: center;
  justify-content: center;
}

.badge {
  position: absolute;
  background: #fff;
  padding: 12px 16px;
  border-radius: 12px;
  font-size: 14px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.badge small {
  color: #666;
}
.badge-award {
  top: 50px;
  left: -40px;
}
.badge-explore{
    top:100px;
    right:60px;
}
.badge-review{
    bottom: 40px;
    left:-30px;
}

.bottom {
  max-width: 1300px;
  margin: 0 auto 80px;
  background: #fff;
  padding: 25px;
  border-radius: 15px;
  display: flex;
  align-items:center;
  gap: 25px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.08);
}

.bottom-item {
  flex: 1;
}

.bottom-item label {
  font-weight: 600;
  display:block;
}

.bottom-item span {
  font-size: 14px;
  color: #777;
}

